<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guess The Number</title>
    <meta name="description" content="Mind Reader">
    <meta name="author" content="Lynn Wong">
    <link rel="stylesheet" href="style.css">
  </head>


  <body class="flex play">
    <main class="flex-item">

      <div class="text-wrapper">
        <h1>Is your number in HERE?</h1>

        <img class="mindreader" src="img/mindreader4.png" alt="Mindreader4">

        <h2>Please enter Y or N</h2>


        <form action="/q4" method="post">
          <input class="response" type="text" name="qn4_input" autofocus />
          <input class="btn" type="submit" value="Next" />
        </form>

      </div>

    </main>
  </body>
</html>